/*** Footer ***/
@import "../../assets/scss/colors";
footer {
  background-color: $background_color;
}

.footer {
  max-width: 1140px;
  margin: auto;
  min-height: 61px;
  row-gap: 7.5px;
}

.footer ul:only-of-type {
  list-style-type: none;
}

.footer div:nth-of-type(2)#social-media {
  height: 41.39px;
  column-gap: 7.5px;
}

.footer div:nth-of-type(2)#social-media a {
  display: block;
  transition: 0.2s ease-in;
  background-color: $background_highlights_;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  &:hover {
    color: $color__;
    background-color: $background_highlights__;
    transform: scale(1.1);
  }
}

img {
  width: 30px;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    div:nth-of-type(2)#social-media {
      order: 1;
      width: auto;
    }
    div:nth-of-type(1) {
      order: 2;
      text-align: center;
      width: auto;
    }
    ul:only-of-type {
      order: 3;
      display: flex;
      justify-content: center;
      column-gap: 7.5px;
      width: auto;
    }
    div:nth-of-type(3) {
      order: 4;
      width: auto;
      margin: auto;
    }
  }
}
