/*** Colors ***/
$color_: #62676b;
$color__: #686d71;
$background_color: #e2e4e6;
$background_color_: #ececec;
$background_color__: #f8f9fa;
$background_menu: #dcdcdc;
$background_highlights_: #ebebeb;
$background_highlights__: #eeeeee;
$border_color: #adb5bd;
$color_fafafa: #fafafa;
$color_dd4b25: #dd4b25;
$color_006db4: #006db4;
$color_ecc50b: #ecc50b;
$color_005fb6: #005fb6;