<!-- Header -->
<app-header>
  <header class="container-fluid">
    <div class="row row-cols-12">
      <nav #nav class="col" aria-label="Navegação primária">
        <button #btn id="btn" type="button" [attr.aria-label]="aria.label"
          [attr.aria-pressed]="aria.pressed" aria-haspopup="true" [attr.aria-expanded]="aria.expanded"
          aria-controls="menu" (click)="navigation()">
          <span id="bar"></span>
        </button>

        <a appScrollSmooth id="logo" routerLink="/" aria-label="Página inicial"><img src="../../assets/images/innovate_codes-logo.svg"
            width="120" height="29.45" alt="Logo"></a>
        <ul id="menu" role="menu">
          <li>
            <div class="vertical-align" id="favorite-icon"><img src="../../assets/images/innovate_codes-favicon.svg"
                width="35" height="35" alt="Ícone favorito"></div>
          </li>

          <li><a href="#about"><i class="fa-solid fa-circle-info"></i>Sobre</a></li>
          <li><a href="#experience"><i class="fa-solid fa-code"></i>Experiência</a></li>
          <li><a id="last-link" href="#contact"><i class="fa-solid fa-envelope"></i>Contato</a></li>
        </ul>
      </nav>
      <div #overlay id="overlay"></div>
    </div>
  </header>
</app-header>
<!-- Main -->
<main class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center main">
      <h1 class="colored-background">{{title}}</h1>
      <p class="text-center">Transforme sua presença online com a expertise em desenvolvimento web front-end da <span
          class="website-name">innovate
          codes</span>, inove sua marca hoje mesmo.
        Preços a partir de <span>{{600 | currency:'BRL':'symbol':'2.0-0'}}.</span>
      </p>
      <a class="text-center learn-more" href="https://api.whatsapp.com/send/?phone=5543998002238" target="_blank"
        aria-label="Abrir WhatsApp">Saiba mais</a>
    </div>
  </div>
</main>

<!-- About -->
<div class="pY nth-of-type-odd" id="about">
  <div class="container-sm container-md container-lg">
    <app-subtitle>
      <h2>{{about}}</h2>
      <p>Estou atualmente aprimorando minhas habilidades em programação web através da <a class="link"
          href="https://origamid.com" target="_blank">origamid</a> e buscando por
        oportunidades para aplicar meus conhecimentos em pequenos projetos.</p>
    </app-subtitle>
    <!-- data-animate="bottom-axis" -->
    <article class="row row-cols-1 row-cols-md-2 about">
      <div class="col">
        <h3 class="mb-3">Precisando gerenciar seu negócio online?</h3>
        <p class="mb-3"><span class="website-name">Innovate codes</span>, atua na área de desenvolvimento web front-end,
          codificando e
          convertendo dados para
          uma interface gráfica, permitindo a interação e visualização por parte dos usuários na web.
        </p>
        <img src="../../assets/images/front-end-web-developer.png" alt="Desenvolvedor web front-end">
      </div>
      <div class="col">
        <h3 class="mb-3">Qual o site mais indicado para você?</h3>
        <p class="mb-3">Como o mercado digital se atualiza de modo acelerado, atualmente existem vários tipos e
          modelos de páginas web, com fins diferenciados, com o objetivo de atender a necessidade de
          cada cliente em particular. Confira alguns dos modelos mais utilizados.
        </p>
        <dl tabindex="1" aria-label="Saiba mais sobre site estático" aria-controls="static-website"
          aria-expanded="false">
          <dt>Site
            estático <i class="fa-solid fa-angle-up"></i></dt>
          <dd id="static-website">
            Sites estáticos normalmente contém um conjunto fixo de
            páginas com um
            layout específico.
            Ao executar uma página estática em um navegador, o conteúdo não muda em resposta
            conforme as ações do usuário. Um site estático é desenvolvido com uma linguagem de
            marcação
            HTML e
            CSS, podemos escrever esses códigos utilizando editores gratuitos como por exemplo, o
            Visual
            Studio Code da
            Microsoft, e outros editores disponíveis na internet.
          </dd>
        </dl>
        <dl tabindex="2" aria-label="Saiba mais sobre one-page" aria-controls="one-page-website" aria-expanded="false">
          <dt>Site
            one page <i class="fa-solid fa-angle-up"></i></dt>
          <dd id="one-page-website">One page ou (página única) em português, é um tipo
            de
            página web que
            possui
            um único
            layout,
            podemos encontrar todas as informações como: "sobre", "serviços", "contatos" e muito
            mais.
          </dd>
        </dl>
        <dl tabindex="3" aria-label="Saiba mais sobre landing-page" aria-controls="landing-page-website"
          aria-expanded="false">
          <dt>Landing page <i class="fa-solid fa-angle-up"></i></dt>
          <dd id="landing-page-website">Landing page, ou também conhecida como página de
            aterrisagem, captura ou
            conversão, é
            bastante
            útil na estratégia de markting digital, otimizada para gerar leads, etc.
          </dd>
        </dl>
      </div>
    </article>
  </div>
</div>

<!-- Experience -->
<div class="pY nth-of-type-even" id="experience">
  <div class="container-sm container-md container-lg">
    <app-subtitle>
      <h2>{{experience}}</h2>
      <p>Desenvolvimento de sites one page, landing pages e sites estáticos com designs inovadores para uma melhor
        experiência do usuário.</p>
    </app-subtitle>
    <!-- data-animate="right-axis" -->
    <article class="row row-cols-auto experience">
      <div class="col col-md-7 items">
        <div class="html">
          <h3 class="text-center mb-3"><abbr title="Hyper Text Markup Languages">HTML</abbr></h3>
          <div>
            <picture>
              <source srcset="../../assets/images/small-html.png" width="75" height="84" media="(max-width: 991.98px)">
              <img src="../../assets/images/medium-html.png" width="100" height="114" alt="HTML">
            </picture>
            <blockquote cite="https://developer.mozilla.org/pt-BR/docs/Web/HTML">
              <p><strong>HTML</strong> (Linguagem de Marcação de HiperTexto) é a linguagem de marcação fundamental
                da
                web, responsável por definir a estrutura e o significado do conteúdo de uma página da web.</p>
            </blockquote>
          </div>
        </div>
        <div class="css">
          <h3 class="text-center mb-3"><abbr title="Cascading Style Sheets">CSS</abbr></h3>
          <div>
            <picture>
              <source srcset="../../assets/images/small-css.png" width="75" height="84" media="(max-width: 991.98px)">
              <img src="../../assets/images/medium-css.png" width="100" height="114" alt="CSS">
            </picture>
            <blockquote cite="https://developer.mozilla.org/pt-BR/docs/Web/CSS">
              <p><strong>CSS</strong> (Cascading Style Sheets ou Folhas de Estilo em Cascata) é uma linguagem usada
                para descrever a aparência visual de documentos HTML e XML, incluindo SVG e MathML. Ele controla
                como
                os elementos são exibidos em diferentes mídias.</p>
            </blockquote>
          </div>
        </div>
        <div class="js">
          <h3 class="text-center mb-3"><abbr title="JS">JavaScript</abbr></h3>
          <div>
            <picture>
              <source srcset="../../assets/images/small-js.png" width="75" height="84" media="(max-width: 991.98px)">
              <img src="../../assets/images/medium-js.png" width="100" height="114" alt="JS">
            </picture>
            <blockquote cite="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">
              <p>O <strong>JavaScript</strong>, às vezes abreviado para JS, é uma linguagem de script leve e
                interpretada, baseada em objetos com funções de primeira classe, usada em páginas Web e outros
                ambientes. É dinâmica, multi-paradigma e suporta programação orientada a objetos, imperativa e
                declarativa, incluindo funcional.</p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col col-md-5 intensive-courses">
        <h3>Cursos intensivos</h3>
        <div>
          <h4>HTML e CSS para Iniciantes</h4>
          <p class="paragraph">O curso de HTML e CSS para iniciantes da <a class="link" href="https://origamid.com"
              target="_blank">origamid</a>
            ensina os fundamentos do desenvolvimento web, com aulas em vídeo, exercícios práticos e materiais de
            apoio. Aborda conceitos básicos até tópicos avançados como animações e pré-processadores CSS, e
            inclui projetos práticos como criação de site responsivo.</p>
          <a class="link" href="https://drive.google.com/file/d/1wGvaWHv42bQj_O54C8WYnTZ777y64HNx/view?usp=share_link"
            target="_blank">Visualizar certificado</a>
        </div>
        <div>
          <h4>CSS Flexbox</h4>
          <p class="paragraph">O curso de CSS Flexbox da <a class="link" href="https://origamid.com"
              target="_blank">origamid</a>
            ensina os
            conceitos básicos e avançados do módulo Flexbox do CSS, com exercícios e projetos práticos. Aborda desde
            a configuração do container flex até layouts de várias colunas e grade, acessibilidade, animações e
            integração com outras tecnologias.</p>
          <a class="link" href="https://drive.google.com/file/d/1EJN1SZ4sRLhymLOCapmcEhEozdutWU4H/view"
            target="_blank">Visualizar
            certificado</a>
        </div>
        <div>
          <h4>Bootstrap 4</h4>
          <p class="paragraph">O curso de Bootstrap 4 da <a class="link" href="https://origamid.com"
              target="_blank">origamid</a>
            ensina a criar
            layouts responsivos em projetos web usando o framework, com instruções sobre configuração do ambiente,
            sistema de grid, componentes, customização e criação de temas personalizados. Ideal para o
            desenvolvimento de sites responsivos.</p>
          <a class="link" href="https://drive.google.com/file/d/11Prymuoh0bN0F-enjsmYN9yuEoHZebDy/view"
            target="_blank">Visualizar
            certificado</a>
        </div>
        <div>
          <h4>Git e Github</h4>
          <p class="paragraph">
            O curso de Git e GitHub do site <a class="link" href="https://cursa.com.br" target="_blank">cursa</a> é uma
            opção
            gratuita e bem estruturada para iniciantes em programação e desenvolvimento de software que desejam
            aprender a utilizar essas ferramentas. O curso aborda desde conceitos básicos de controle de versão até
            tópicos mais avançados, como trabalhar com pull requests e issues no GitHub, além de oferecer
            vídeo-aulas, exercícios práticos e quizzes para testar o conhecimento dos alunos.</p>
          <a class="link" href="https://drive.google.com/file/d/18r2_8UNdFENITjwfAqUHsdlXHQQb-ot-/view"
            target="_blank">Visualizar
            certificado</a>
        </div>
      </div>
    </article>
  </div>
</div>

<!-- Contact -->
<div class="pY nth-of-type-odd" id="contact">
  <div class="container-sm container-md container-lg">
    <app-subtitle>
      <h2>{{contact}}</h2>
      <p>Caso tenha alguma dúvida ou precise de mais informações, entre em contato.
        Geralmente respondo de segunda a sexta-feira, das 8h às 17h.
      </p>
    </app-subtitle>
    <article class="row row-cols-1 row-cols-md-2 contact">
      <form class="col contact-form">
        <fieldset>
          <legend>
            <h3>Preencha o formulário</h3>
          </legend>
          <label for="name">Nome:</label>
          <input type="text" name="name" id="name" placeholder="Insira seu nome" required>
          <label for="email">E-mail:</label>
          <input type="email" name="email" id="email" placeholder="Insira seu e-mail" required>
          <label for="message">Mensagem:</label>
          <textarea name="message" id="message" rows="5" cols="50" maxlength="500" placeholder="Insira sua mensagem"
            required></textarea>
          <button type="submit" (click)="preventSendMessage($event)">Enviar</button>
        </fieldset>
      </form>
      <div class="col location">
        <i class="fa-solid fa-map"></i>
        <h3 class="mb-3 d-inline-block">Mapa do site</h3>
        <address class="mb-3">
          <ul>
            <li *ngFor="let list of details">{{list}}</li>
          </ul>
        </address>
        <iframe id="current-location" aria-label="Localização atual" title="Localização atual"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7335.566866618191!2d-50.642114!3d-23.178103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eadf21eb7e5073%3A0xdb2079e3f8e1fabd!2sR.%20Amazonas%2C%20232%20-%20Centro%2C%20Corn%C3%A9lio%20Proc%C3%B3pio%20-%20PR%2C%2086300-000!5e0!3m2!1spt-BR!2sbr!4v1675450234134!5m2!1spt-BR!2sbr"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </article>
  </div>
</div>
<!-- Angle up -->
<i appScrollSmooth class="fa-sharp fa-solid fa-angle-up arrow"></i>
