/*** Colors ***/
@import "../../assets/scss/colors";

/* Header */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: $background_color;
  border-bottom: 2px solid $border_color;
  nav {
    max-width: 1140px;
    margin: 0 auto;
    height: 59px;
    line-height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #btn {
      display: none;
    }
    #logo {
      display: block;
      img {
        width: 120px;
        display: block;
        height: auto;
      }
    }
    ul {
      display: flex;
      li {
        list-style: none;
        a {
          display: block;
          padding: 0 15px;
          position: relative;
          transition: 0.2s ease-in;
          color: $color_;
          &:hover {
            color: $color__;
          }
          &::before {
            content: "➨";
            color: currentColor;
            display: block;
            position: absolute;
            left: 0;
            font-size: 0.8375rem;
            opacity: 0;
            transition: 0.2s ease-in;
          }
          &:hover::before {
            opacity: 1;
            left: 1px;
          }
        }
      }
    }
  }
}

#favorite-icon {
  visibility: hidden;
  opacity: 0;
  img {
    display: none;
  }
}

#menu i {
  display: none;
}

/*** Main ***/
.main {
  min-height: 100vh;
  row-gap: 7.5px;
  h1 + p {
    font-size: 1.125rem;
    max-width: 540px;
  }
  .learn-more {
    font-size: 1.125rem;
    text-transform: capitalize;
    border-radius: 4px;
    display: block;
    width: 140px;
    height: 48px;
    line-height: calc(48px - 4px);
    background-color: $background_highlights_;
    border: 2px solid $border_color;
    transition: 0.2s ease-in;
    &:hover {
      color: $color__;
      background-color: $background_highlights__;
    }
  }
}

.pY{
  padding-top: 76px;
  padding-bottom: 76px;
}

.about,
.experience,
.contact {
  max-width: 1140px;
  margin: auto;
}

/*** About ***/
.about div:nth-child(1) > img {
  max-width: 100%;
  height: auto;
  display: block;
  aspect-ratio: auto;
}

.about div:nth-child(2) dl {
  height: auto;
  border-bottom: 2px solid $border_color;
  background-color: $background_color_;
  cursor: pointer;
  overflow: hidden;
  padding: 0 7.5px;
}

.about div:nth-child(2) dt,
.fa-angle-up {
  line-height: calc(48px - 2px);
}

.about div:nth-child(2) dt .fa-angle-up {
  float: right;
  transform: rotate(180deg);
  transition: 0.2s ease-in;
}

.about div:nth-child(2) dl.angle .fa-angle-up {
  transform: rotate(0deg);
}

.about div:nth-child(2) dl dd {
  overflow-y: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.2s ease-in;
}

.about div:nth-child(2) dl.answer dd {
  max-height: none;
  opacity: 1;
  transform: translateY(0);
  line-height: 1.2;
  padding-bottom: 7.5px;
}

/*** Experience ***/
.experience .items {
  display: flex;
  flex-flow: column;
  row-gap: 15px;
}

.html,
.css,
.js {
  box-shadow: 5px 5px 6px rgba(53, 32, 32, 0.3);
  border-bottom-right-radius: 4px;
  padding: 7.5px 0;
}

.html h3::before,
.css h3::before,
.js h3::before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid $background_color_;
  box-shadow: 0 0 0 3px currentColor;
  margin: 0 auto 15px auto !important;
  background-color: currentColor;
}

.html h3 {
  color: $color_dd4b25;
}

.css h3 {
  color: $color_006db4;
}

.js h3 {
  color: $color_ecc50b;
}

.html div picture,
.css div picture,
.js div picture {
  float: left;
  margin-right: 7.5px;
}

.experience .intensive-courses {
  display: flex;
  flex-flow: column;
  row-gap: 15px;
}

.paragraph {
  overflow-y: auto;
  height: 100px;
  padding: 7.5px 0;
}

.paragraph::-webkit-scrollbar {
  width: 15px;
}

.paragraph::-webkit-scrollbar-thumb {
  border-left: 2px solid $background_color_;
  border-right: 2px solid $background_color_;
  background-color: $color_dd4b25;
}

.paragraph::-webkit-scrollbar-track {
  background-color: $background_highlights_;
}

/*** Contact ***/
.contact-form fieldset {
  border: none;
  outline: none;
  border: 2px solid $border_color;
  border-radius: 4px;
  padding: 0 7.5px;
}

.contact-form fieldset legend {
  margin: 7.5px 0 !important;
}

.contact-form fieldset label {
  display: block;
}

.contact-form input,
.contact-form textarea {
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: currentColor;
  background-color: inherit;
  border: 2px solid $border_color;
  border-radius: 4px;
  font-size: initial;
  letter-spacing: 1px;
  width: 100%;
  padding: 7.5px;
  margin: 7.5px 0 !important;
  resize: vertical;
  transition: border 0.2s ease-in;
}

.contact-form fieldset input:focus,
.contact-form fieldset textarea:focus {
  border: 2px solid $border_color;
}

.contact-form fieldset button {
  position: relative;
  width: 120px;
  height: 48px;
  margin-bottom: 7.5px !important;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: unset;
  letter-spacing: 1px;
  line-height: calc(48px - 4px);
  color: currentColor;
  border: 2px solid $border_color;
  background-color: $background_highlights_;
  transition: 0.2s ease-in;
}

.contact article fieldset button:hover {
  cursor: pointer;
  color: $color__;
  background-color: $background_highlights__;
}

.contact-form fieldset button::before {
  content: "➨";
  display: block;
  position: absolute;
  font-size: 0.8375rem;
  left: 10px;
  opacity: 0;
  transition: 0.2s ease-in;
}

.contact-form fieldset button:hover::before {
  opacity: 1;
  left: 11px;
}

.location i {
  margin-right: 7.5px;
}

.location address ul li{
  list-style: none;
  display: flex;
  column-gap: 7.5px;
}

.location address li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  align-self: center;
  background-color: $color_dd4b25;
}

.location iframe {
  border: 0;
  width: 100%;
  aspect-ratio: 16/9;
}
